body {
    height: 100%;
    background: rgb(220, 226, 228)
}


ul,Link{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.nav{
    padding: 1.6rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    background: linear-gradient(to left, #07A0C3 40%,  rgba(7, 161, 195, 0.548));
}

.report-component{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;;;
}

.rooms-col{
    
}
.report-header{
    display:flex;
    justify-content: space-around;;
    h1{
        font-size: 1rem;
    }
}

.room{
    color:inherit;
    text-decoration: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    grid-gap:1rem;
    justify-items: left;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    background: rgba(238, 238, 238, 0.685);
}
.room--clean{
    background: rgba(0, 128, 0, 0.479);
    color:white;
    transition: background-color 350ms ease;
}

.room__bg{
    background: url(./images/roombg.jpg) rgba(255, 255, 255, 0.986);
    background-size:  100%;;
    background-position: 0 67%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: block;;
}



button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.btn{
    border-radius: 50%;
    padding: 0.2rem
}
/* Remove excess padding and border in Firefox 4+ */
