body {
    height: 100%;
    background: rgb(220, 226, 228)
}


ul,Link{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.nav{
    padding: 1.6rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    background: linear-gradient(to left, #07A0C3 40%,  rgba(7, 161, 195, 0.548));
}

.report-component{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;;;
}

.report-header{
    display:flex;
    justify-content: space-around;;
    h1{
        font-size: 1rem;
    }
}

.room{
    color:inherit;
    text-decoration: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    grid-gap:1rem;
    justify-content: left;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem;
    position: relative;
    overflow: hidden;
    background: rgba(238, 238, 238, 0.685);
}
.room--clean{
    background: rgba(0, 128, 0, 0.479);
    color:white;
    transition: background-color 350ms ease;
}
.room__elements{
    display:flex;
    justify-content: space-between;
    align-items: center;
    *{
        flex-basis: 100%;
        margin: 0 0.2rem
    }
}
.room__bg{
    background: url(./images/roombg.jpg) rgba(255, 255, 255, 0.986);
    background-size:  100%;;
    background-position: 0 20%;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
    display: block;;
}



button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.circle{
    border-radius: 50%;
    padding: 0.2rem
}
/* Remove excess padding and border in Firefox 4+ */

.room-actions>*{
    margin:1rem
}


.room-detail{
    width:100%;
    display:grid;
    grid-template-columns:  1fr;
    align-items: center;
    

}

.room-detail__elements{
    display:grid;
    grid-template-columns: 100% 1fr;
    grid-gap:1rem;
    align-items: center;
    text-align: center;
    margin-bottom:0;

    .room-detail__room{
        padding:1rem;
        border: 1px solid grey
    }
}

.success{
    background: rgb(117, 143, 78);
    font-weight:700
}

.danger {
    background: rgb(216, 70, 70);
    color:white
}
.maintaince{
    padding:1rem
}

.btn__color{
    background-color:#3d94f6;
    margin:1rem;
    padding:1rem;
    border-radius: 6px;
    color:white;
    border:1px solid #337fed;
    text-shadow:0px 1px 0px #1570cd;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    &:hover {
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color:#1e62d0;
    }
    &:active {
        position:relative;
        top:1px;
}
.btn{
    margin:1rem;
        display:inline-block;
        border-radius:6px;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        position: relative;
        
       
       
    
    }
   
    
}
.btn__transparent{
    display:block;
        width:100%;
        height: 100%;
   }
.addroom-input{
    width: 100%;
}
   .maintaince{
       display: grid;
       grid-template-columns: 1fr 1fr;
       border:1px solid grey;
       width:90%;
       margin:0 auto;
       justify-items: center;
       font-size:1.3rem
   }
   .col{
       text-align: center;
       word-wrap: break-word;
       li{
           line-height: 1.6rem;
           display:grid;
           grid-template-columns: 1fr;
           gap:1rem;
           border-bottom: 1px solid rgba(128, 128, 128, 0.534);
           box-shadow: 2px 2px 0.2px rgba(128, 128, 128, 0.445);
           margin:0.5rem;
        padding:0.4rem;
    &:hover, &:active,&:focus{
        box-shadow: 1px 1px 2px red;
        cursor: pointer;
    }
   }
    }
 
   .danger-color{
       color:red;
        opacity: 0.5
   }

   .add-room{
       display:grid;
       grid-template-columns: 1fr 1fr;
       justify-items: center;

  
   }
   .form-group{
       display:flex;
       justify-content: space-between;;
       input{
        margin:0.3rem 0
       }
   }
   .form-group__number{grid-column: 1/-1;}
   .form-group__bathroom{
    
    display:flex;
    flex-direction: column;
   }
   .form-group__room{
    display:flex;
    flex-direction: column;
   }
   .add-room__submit{
       grid-column: 1/-1;
       margin-top:1rem
   }

   .rooms{
       width:80%;
       margin-left:1rem;
       display:grid;
       grid-template-columns: 1fr;
   }

   .created-from-now{
       font-size: 1rem;
   }

   .item-detail-container{
       display:grid;
       grid-template-columns: 1fr;
       margin:1rem
   }
   .formInput{
       margin:1rem;
       width:100%
   }
   .new-input{
       margin:1rem
   }